.venv
.idea
.pytest_cache/
.claude/
.deepeval/
.streamlit/
.ipynb_checkpoints/
__pycache__/
chroma_db
uploads
.env
*.pt
*.json
*.bin
*.pdf
*.log
*.pyc
!evaluation/data/**/*.json
!evaluation/data/**/*.pdf
!evaluation/reports/**/*.json
!skill_proficiency_estimator/data/*.json
!skill_proficiency_estimator/data/reports/*.json
!skill_proficiency_estimator/scoring_model/**/*.json
