.venv
.idea
*.pt
*.json
*.bin
*.pdf
__pycache__/
*.pyc
chroma_db
uploads
!evaluation/data/**/*.json
!evaluation/data/**/*.pdf
!evaluation/reports/*.json
!skill_proficiency_estimator/data/*.json
!skill_proficiency_estimator/data/reports/*.json
!skill_proficiency_estimator/scoring_model/**/*.json
.ipynb_checkpoints/
*.log
.pytest_cache/
.deepeval/
.streamlit/
.ruff_cache/