.venv
.idea
*.pt
*.json
*.bin
*.pdf
__pycache__/
*.pyc
chroma_db
uploads
!evaluation/data/**/*.json
!evaluation/data/**/*.pdf
!evaluation/reports/*.json
!spe/data/**/*.json
.ipynb_checkpoints/
*.log
.pytest_cache/
.deepeval/
.streamlit/